<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="./drink.css">
</head>

<body>
    <div id="app">
        <form action="">
            <span class="inputSpan">飲料名稱：</span><input type="text" v-model='name' class="input">
            <span class="inputSpan">飲料價格：</span><input type="number" v-model='price' class="input">
            <!-- <span class="inputSpan">飲料杯數：</span><input type="number" v-model='num' class="input" min="1"> -->
            <span class="inputSpan">備註：</span><textarea name="" cols="30" rows="5" v-model='note'></textarea>
            <input type="submit" value="送出訂單" @click.prevent='placeOrder' id="place">
            <ul class="orderList">
                <item-li v-for='(item,index) in orders' :item='item' :index="index" />
            </ul>
            <div class="total"><span>總金額：</span><input type="text" v-model='total' class="input" readonly></div>
        </form>
    </div>
    <script>
        function order(name, price, num, note) {
            this.name = name;
            this.price = price;
            this.num = num;
            this.note = note;
        };
        app = new Vue({
            el: '#app',
            data: {
                orders: [],
                name: '',
                price: '',
                num: 1,
                note: '',
            },
            methods: {
                placeOrder() {
                    if (this.name != "" && this.price != "") {
                        let neworder = new order(this.name, this.price, this.num, this.note);
                        this.orders.push(neworder);
                        this.name = '';
                        this.price = '';
                        this.note = '';
                    } else {
                        if (this.name == "") {
                            alert('請輸入飲料名稱')
                        }
                        if (this.price == "") {
                            alert('請輸入飲料價格')
                        }
                    }
                },

            },
            computed: {
                total() {
                    let total = 0;
                    for (let i in this.orders) {
                        total += parseInt(this.orders[i].price) * parseInt(this.orders[i].num);
                    }
                    return total;
                }
            },
            components: {
                'item-li': {
                    props: ['item', 'index'],
                    data() {
                        return {
                            changebtn: true,
                        }
                    },
                    template: `
                    <li  class="item">
                        <div v-if='changebtn==true' class="itemList">
                            <span class='itemName'>{{item.name}}</span>
                            <span>{{item.price}}元</span>
                            <span>{{item.note}}</span>
                            <div class="Btn">
                                <input type="button" value="修改訂單" @click='changebtn = false' >
                                <input type="button" value="刪除訂單" @click='removeitem(index)'>
                            </div>
                        </div>
                        <div v-if='changebtn==false'>
                            <span>飲料名稱：</span><input type="text" v-model='item.name' class="input">
                            <span>飲料價格：</span><input type="text" v-model='item.price' class="input">
                            <span>備註：</span><textarea name="" id="" cols="15" rows="10" v-model='item.note'></textarea>
                            <input type="button" value="確認修改" @click='changebtn = true'>
                        </div>
                    </li>
                    `,
                    methods: {
                        removeitem(index) {
                            if (confirm('刪除訂單?')) {
                                app.orders.splice(index, 1);
                            }
                        },
                    },
                },
            }
        })
    </script>
</body>

</html>