#app {
    width: max-content;
    margin: 100px auto;
}

#app form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}

#app form input.input {
    width: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

span.inputSpan {
    text-align: right;
}

input#place {
    width: max-content;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

ul.orderList,
div.total,
input#place {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
}

ul li textarea {
    vertical-align: middle;
}

textarea.noteText {
    width: 150px;
    margin: 0 auto;
}

.itemName {
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

ul li div.itemList {
    display: grid;
    grid-template-columns: 120px 80px auto 200px;
    column-gap: 10px;
    margin: 10px 0;
}

@media screen and (max-width: 575px) {
    #app form {
        grid-template-columns: 1fr;
    }
    span.inputSpan {
        text-align: center;
    }
    ul.orderList,
    div.total,
    input#place {
        grid-column-start: 1;
        grid-column-end: 1;
    }
    #app form input.input {
        margin: 0 auto;
        text-align: center;
    }
    ul li div.itemList {
        display: grid;
        grid-template-columns: 120px 80px auto;
        column-gap: 10px;
        margin: 10px 0;
    }
    div.Btn {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        margin: 10px 0;
    }
    div.modifyDiv {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 15px;
        border: 1px black solid;
        padding: 10px;
    }
}